<head>
  <title><{{title}}></title>
</head>

<body>

<!--================Blog Area =================-->
<section class="blog_area single-post-area py-80px section-margin--small">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post row">
          <div class="col-lg-12">
            <div class="feature-img">
              <img class="img-fluid" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1666412124/EMAIL%20HTML/Kandi/t8tfcqwaumjluocabfr1.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-3  col-md-3">
            <div class="blog_info text-right">
              <div class="post_tag">
                <a class="active" href="#">CARDIGAN,</a>
                <a class="active" href="#">Thời trang,</a>
                <a href="#">Kandi</a>
              </div>
              <ul class="blog_meta list">
                <li>
                  <a href="#">Thanh Hà
                    <i class="lnr lnr-user"></i>
                  </a>
                </li>
                <li>
                  <a href="#">30 Oct, 2022
                    <i class="lnr lnr-calendar-full"></i>
                  </a>
                </li>
                <li>
                  <a href="#">1.0M Views
                    <i class="lnr lnr-eye"></i>
                  </a>
                </li>
                <li>
                  <a href="#">100 Comments
                    <i class="lnr lnr-bubble"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 blog_details">
            <h2>CARDIGAN KANDI - ITEM KHÔNG THỂ THIẾU TRONG NHỮNG NGÀY GIAO MÙA</h2>
            <p style="text-align: justify;" style="text-align: justify;" class="excert">
              Tiết trời thu hơi se lạnh, mát dịu, đôi khi kèm theo mưa phùn thì chắc chắn không thể bỏ qua những kiểu áo Cardigan tay dài với chất liệu len mỏng, nhẹ, an toàn cho người mặc, thân thiện với môi trường được KANDI ưu tiên sử dụng. Cùng tìm hiểu về thiết kế áo Cardigan mới nhất của KANDI trong mùa Thu - Đông 2022 này nhé!
            </p>
          </div>
          <div class="col-lg-12">
            <h4 style="color: blue">Tại sao nên lựa chọn Cardigan Kandi cho những ngày mùa thu?</h4>
            <p style="text-align: justify;">Thiết kế áo tay dài là đặc trưng của phong cách thời trang thu đông. Chúng nổi bật nên nhờ vừa đảm bảo được yếu tố giữ ấm vừa giữ vững được nét đẹp trong phong cách thời trang.</p>
            <p style="text-align: justify;">Sản phẩm có tính tiện dụng, đa dạng về màu sắc, mẫu mã tạo sự thanh lịch, trẻ trung nhưng không kém phần năng động, cá tính. Ngoài ra loại áo này cũng có thể kết hợp đa dạng cùng trang phục lẫn phụ kiện nhằm tạo ra những outfit cực kỳ nổi bật, sang trọng. Đặc biệt Cardigan có thể dễ dàng phối với quần legging, quần jean, váy liền, chân váy,… giúp tạo nên những items mới lạ, rạng rỡ.
              Những cách Mix & Match với Cardigan
              Cardigan và chân váy hoặc váy đầm – outfit nữ tính</p>
            <figure><img style="display: block;margin-left: auto;margin-right: auto;" class="img-fluid" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1666412116/EMAIL%20HTML/Kandi/mkz1afe3uzlhklfh0uoq.jpg" alt="">
              <figcaption style="font-size: 90%;text-align: center;font-style: italic">Áo cổ tim viền ren tay dài</figcaption>
            </figure>
            <div class="row">
              <div class="col-lg-12 mt-4">
                <h4  style="color: blue">
                  Cách tạo layer đồ cùng những chân váy xếp ly, chân váy ngắn, chân váy chữ A,… đều là những lựa chọn hoàn hảo cho set đồ phối cùng với áo cardigan
                </h4>
                <p style="text-align: justify;">
                  Với cách mix này bạn chỉ cần chú ý lựa chọn đồ dài của chân váy phù hợp với vóc dáng để có thể tôn lên vóc dáng người mặc. Chẳng hạn nếu bạn sở hữu chiều cao khiêm tốn thì chắc chắn đừng bỏ qua chân váy chữ A ngắn kết hợp với những mẫu áo cardigan không quá dài.
                </p>
                <p style="text-align: justify;">
                  Phối áo cardigan cùng với đầm đuôi cá hay đầm body cũng là một trong những gợi ý rất quan trọng để nàng có thể tự tin phá cách chào đón những ngày thu. Hơn nữa, đừng quên một đôi boot để có thể hoàn thiện set đồ của mình nhé.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mt-4">
                <h4  style="color: blue">
                  Cardigan và quần jeans – Outfit trẻ trung, hiện đại
                </h4>
                <p style="text-align: justify;">
                  Chắc chắn set đồ này sẽ là một gợi ý để bạn có một vẻ ngoài cá tính và tươi trẻ. Diện set đồ này trên người, nàng ngay lập tức sẽ gây ấn tượng với vẻ ngoài trẻ trung, phá cách.
                </p>
                <p style="text-align: justify;">
                  Với tiết trời thu thời tiết nhẹ nhàng, bạn hoàn toàn có thể diện những chiếc áo cardigan cùng chất liệu vải mỏng kết hợp với quần short jeans hoặc kaki sành điệu. Set đồ này khiến cho phái đẹp trở nên trẻ trung cho những buổi cà phê cùng bạn bè.
                </p>
                <div class="col-12">
                  <figure>
                    <img style="display: block;margin-left: auto;margin-right: auto;" class="img-fluid" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1666412116/EMAIL%20HTML/Kandi/bjuguse9ricfxglzawaj.jpg" alt="">
                    <figcaption style="font-size: 90%;text-align: center;font-style: italic">Chất liệu thoáng mát</figcaption>
                  </figure>
                </div>
                <p style="text-align: justify;">
                  Những gợi ý trên đây sẽ giúp nàng có thể sở hữu cho mình những cách phối đồ cùng áo cardigan ấn tượng nhất. Không chỉ vậy, nàng cũng đừng bỏ qua những thiết kế mới nhất của KANDI trong mùa thu này để chuẩn bị cho mình một diện mạo ấn tượng nhất.
                </p>
              </div>
            </div>
            <div style="display: flex; justify-content: center; border-radius: 20px; background: red; width: 120px;margin: 0 auto;">
              <a class="btn btn-default" style="color: white; font-weight: bold" href="/products">XEM NGAY</a>
            </div>
          </div>
        </div>
        <div class="navigation-area">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
              <div class="arrow">
                <a href="#">
                  <span class="lnr text-white lnr-arrow-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Posts">
              <span class="input-group-btn">
																	<button class="btn btn-default" type="button">
																			<i class="lnr lnr-magnifier"></i>
																	</button>
															</span>
            </div>
            <!-- /input-group -->
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget author_widget">
            <img class="author_img rounded-circle" style="width: 10rem; height: 10rem" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1667235607/EMAIL%20HTML/Kandi/i69iwfesnm9kogkli8uy.png" alt="">
            <h4>Kandi Closet</h4>
            <div class="social_icon">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
              <a href="#">
                <i class="fab fa-behance"></i>
              </a>
            </div>
            <div class="br"></div>
          </aside>
          <aside class="single-sidebar-widget tag_cloud_widget">
            <h4 class="widget_title">Tags</h4>
            <ul class="list">
              <li>
                <a href="#">Thời trang</a>
              </li>
              <li>
                <a href="#">CARDIGAN</a>
              </li>
              <li>
                <a href="#">Kandi</a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->
<!-- ================ top product area start ================= -->
<section style="margin-bottom: 50px" class="related-product-area">
  <div class="container">
    <div class="section-intro pb-60px">
      <p style="text-align: justify;">Popular Item in the store</p>
      <h2>Top <span class="section-intro__style">Sale</span></h2>
    </div>
    <div class="row mt-30">
      {{#each products}}
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="products/{{this._id}}"><img src={{this.image_url}} alt=""></a>
              <div class="desc">
                <a href="products/{{this._id}}" class="title">{{this.name}}</a>
                <del><p class="card-product__price"><script>
                  var price = {{this.price}} / 0.75;
                  price = price.toLocaleString('vi', {style : 'currency', currency : 'VND'});
                  document.write(price);</script></p></del>
                <p class="card-product__price"><script>
                  var price = {{this.price}};
                  price = price.toLocaleString('vi', {style : 'currency', currency : 'VND'});
                  document.write(price);</script></p>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
<!-- ================ top product area end ================= -->

<!--================Instagram Area =================-->
<section class="instagram_area">
  <div class="container box_1620">
    <div class="insta_btn">
      <a class="btn theme_btn" href="#">Follow us on instagram</a>
    </div>
    <div class="instagram_image row m0">
      <a href="#"><img style="height: 260px; width: 260px" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1667237035/EMAIL%20HTML/Kandi/x88y4dbtf4wbuocmxg9a.png" alt=""></a>
      <a href="#"><img style="height: 260px; width: 260px" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1667027460/EMAIL%20HTML/Kandi/z0epohvpc6xcmqdbawvq.jpg" alt=""></a>
      <a href="#"><img style="height: 260px; width: 260px" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1667028382/EMAIL%20HTML/Kandi/r0mqmfu2rpsueb9fvu71.jpg" alt=""></a>
      <a href="#"><img style="height: 260px; width: 260px" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1666412120/EMAIL%20HTML/Kandi/kcctavfhuhv8vjuqh970.jpg" alt=""></a>
      <a href="#"><img style="height: 260px; width: 260px" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1666412119/EMAIL%20HTML/Kandi/kpxfpytyythp9qrgfdx3.jpg" alt=""></a>
      <a href="#"><img style="height: 260px; width: 260px" src="https://res.cloudinary.com/minhnhat0212/image/upload/v1666412118/EMAIL%20HTML/Kandi/yqcsctemmfvolf5xi7mc.jpg" alt=""></a>
    </div>
  </div>
</section>
<!--================End Instagram Area =================-->
</body>