<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div class="owl-carousel owl-theme s_Product_carousel">
          <div class="single-prd-item">
            <img id="img-fluid-1" class="img-fluid" src="{{product.image_url}}" alt="">
          </div>
          <div class="single-prd-item">
            <img class="img-fluid" src="{{product.image_url}}" alt="">
          </div>
          <div class="single-prd-item">
            <img class="img-fluid" src="{{product.image_url}}" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3>{{product.name}}</h3>
          <h2>{{product.price}}₫</h2>
          <ul class="list">
            <li>
              <div><span>Loại sản phẩm</span> : {{product.category}}</div>
            </li>
            <li>
              <div><span>Nhà sản xuất</span> : {{product.producer}}</div>
            </li>
            <li>
              <div><span>Xuất xứ</span> : {{product.origin}}</div>
            </li>
            <li>
              <div><span>Bảo hành</span> : 12 tháng</div>
            </li>
            <li>
              <div><span>Tình trạng</span> : Mới 100%</div>
            </li>
          </ul>
          <div class="list1">Khuyến mãi:
            <div>Giảm giá chỉ còn : {{product.price}}₫</div>
          </div>
          <div class="list1">Ưu đãi đặc biệt khi mua kèm LAPTOP:
            {{#each product.offer}}
              <div>{{this.content}}</div>
            {{/each}}
          </div>
          <iframe name="temp" style="display:none;"></iframe>
          <div class="product_count">
            <form id="add-to-card" action="/api/cart/{{product._id}}" method="POST" target="temp">
              <label for="qty">Số lượng:</label>
              <input type="hidden" value="{{product._id}}" id="product_id" name="productId">
              <input type="number" name="qty" id="qty" size="2" maxlength="12" value="1" title="Quantity:"
                     class="input-text qty">
              {{#if (is_equals product.stock 0)}}
                <a style="color: #222222;" class="button primary-btn">Hết hàng</a>
              {{else}}
                <a style="color: #222222;" id="button-primary-btn" class="button primary-btn">Thêm vào giỏ hàng</a>
              {{/if}}
            </form>
          </div>

          <div style="color: red" id="messageError"></div>

          <div class="card_area d-flex align-items-center">
            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
           aria-selected="true">Mô tả</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
           aria-controls="profile"
           aria-selected="false">Chi tiết cấu hình</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
           aria-controls="contact"
           aria-selected="false">Đánh giá</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
           aria-selected="false">Reviews</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p>Laptop cao cấp vượt trội với CPU Intel Core i5-10300H và GPU GeForce GTX™ 1650 mạnh mẽ, các tựa game hành động sẽ chạy nhanh,
          mượt mà và khai thác tối đa màn hình IPS tần số quét 144Hz. Mặc dù có khung máy di động và nhỏ hơn so với thế hệ tiền nhiệm,
          chiếc laptop này vẫn có dung lượng pin (48Wh/90Wh) cho thời lượng pin dài. Hệ thống tản nhiệt tự làm sạch hiệu quả kết hợp với
          độ bền đạt chuẩn quân đội của TUF giúp chiếc máy trở thành chiến binh bền bỉ đáng tin cậy cho các game thủ.</p>
      </div>
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td>
                <h5>CPU</h5>
              </td>
              <td>
                <h5>{{product.CPU}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>RAM</h5>
              </td>
              <td>
                <h5>{{product.RAM}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Ổ cứng</h5>
              </td>
              <td>
                <h5>{{product.disk}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Card đồ họa</h5>
              </td>
              <td>
                <h5>{{product.graphic_card}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Màn hình</h5>
              </td>
              <td>
                <h5>{{product.screen}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Cổng giao tiếp</h5>
              </td>
              <td>
                <h5>{{product.port}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Ổ quang</h5>
              </td>
              <td>
                <h5>{{product.optical_disk}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Audio</h5>
              </td>
              <td>
                <h5>{{product.audio}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Bàn phím</h5>
              </td>
              <td>
                <h5>{{product.keyboard}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Đọc thẻ nhớ</h5>
              </td>
              <td>
                <h5>{{product.read_mem_card}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Chuẩn LAN</h5>
              </td>
              <td>
                <h5>{{product.LAN}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Chuẩn WIFI</h5>
              </td>
              <td>
                <h5>{{product.WIFI}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Bluetooth</h5>
              </td>
              <td>
                <h5>{{product.bluetooth}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Webcam</h5>
              </td>
              <td>
                <h5>{{product.webcam}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Hệ điều hành</h5>
              </td>
              <td>
                <h5>{{product.os}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Pin</h5>
              </td>
              <td>
                <h5>{{product.pin}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Trọng lượng</h5>
              </td>
              <td>
                <h5>{{product.weight}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Màu sắc</h5>
              </td>
              <td>
                <h5>{{product.color}}</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Kích thước</h5>
              </td>
              <td>
                <h5>{{product.size}}</h5>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
          <div class="col-lg-6">
            <div id="comment-list" class="comment_list">
              {{#each results.comments}}
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      {{#if this.user_avatar_url}}
                        <img class="avatar" src="{{this.user_avatar_url}}" alt="">
                      {{else}}
                        <img class="avatar" src="/img/male_avatar.svg" alt="">
                      {{/if}}
                    </div>
                    <div class="media-body">
                      <h4>{{this.user_name}}</h4>
                      <h5>{{this.createdAt}}</h5>
                    </div>
                  </div>
                  <p>{{this.content}}</p>
                </div>
              {{/each}}
            </div>
            {{#if results.comments}}
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" value="{{results.prev}}"><a id="prev-page-item"
                                                                    class="page-link"
                  >{{results.prev}}</a></li>

                  <li class="page-item" value="{{results.curr}}"><a id="curr-page-item"
                                                                    class="page-link"

                  >{{results.curr}}</a></li>

                  <li class="page-item" value="{{results.next}}"><a id="next-page-item"
                                                                    class="page-link"
                  >{{results.next}}</a></li>
                </ul>
              </nav>
            {{/if}}
          </div>
          <div class="col-lg-6">
            <div class="review_box">
              <h4>Bình luận</h4>
              <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                    novalidate="novalidate">
                <input type="hidden" value="{{product._id}}" id="product_id" name="productId">
                <div class="col-md-12">
                  <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="5"
                                                  placeholder="Nội dung"></textarea>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <input type="submit" value="Bình luận" class="btn primary-btn" id="submit-button">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
        <div class="row">
          <div class="col-lg-6">
            <div class="row total_rate">
              <div class="col-6">
                <div class="box_total">
                  <h5>Overall</h5>
                  <h4>4.0</h4>
                  <h6>(03 Reviews)</h6>
                </div>
              </div>
              <div class="col-6">
                <div class="rating_list">
                  <h3>Based on 3 Reviews</h3>
                  <ul class="list">
                    <li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                    <li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                    <li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                    <li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                    <li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="review_list">
              <div class="review_item">
                <div class="media">
                  <div class="d-flex">
                    <img src="img/product/review-1.png" alt="">
                  </div>
                  <div class="media-body">
                    <h4>Blake Ruiz</h4>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea
                  commodo</p>
              </div>
              <div class="review_item">
                <div class="media">
                  <div class="d-flex">
                    <img src="img/product/review-2.png" alt="">
                  </div>
                  <div class="media-body">
                    <h4>Blake Ruiz</h4>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea
                  commodo</p>
              </div>
              <div class="review_item">
                <div class="media">
                  <div class="d-flex">
                    <img src="img/product/review-3.png" alt="">
                  </div>
                  <div class="media-body">
                    <h4>Blake Ruiz</h4>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea
                  commodo</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="review_box">
              <h4>Add a Review</h4>
              <p>Your Rating:</p>
              <ul class="list">
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
              </ul>
              <p>Outstanding</p>
              <form action="#/" class="form-contact form-review mt-3">
                <div class="form-group">
                  <input class="form-control" name="name" type="text" placeholder="Enter your name"
                         required>
                </div>
                <div class="form-group">
                  <input class="form-control" name="email" type="email"
                         placeholder="Enter email address" required>
                </div>
                <div class="form-group">
                  <input class="form-control" name="subject" type="text" placeholder="Enter Subject">
                </div>
                <div class="form-group">
                                    <textarea class="form-control different-control w-100" name="textarea" id="textarea"
                                              cols="30" rows="5" placeholder="Enter Message"></textarea>
                </div>
                <div class="form-group text-center text-md-right mt-3">
                  <button type="submit" class="button button--active button-review">Submit Now
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Product Description Area =================-->

<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small mt-0">
  <div class="container">
    <div class="section-intro pb-60px">
      <p>Sản phẩm liên quan</p>
      <h2>Related <span class="section-intro__style">Product</span></h2>
    </div>
    <div id="related-product" class="row mt-30">
      {{#each relatedProduct}}
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="/products/{{this._id}}"><img src="{{this.image_url}}" alt=""></a>
              <div class="desc">
                <a href="/products/{{this._id}}" class="title">{{this.name}}</a>
                <div id="{{this._id}}" class="price">{{this.price}}</div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
<!--================ end related Product area =================-->

<script id="comment-template" type="text/x-handlebars">
	  <div class="review_item">
    	<div class="media">
    		<div class="d-flex">
    		{{#if user.avatar_url}}
        <img class="avatar" src="{{user.avatar_url}}" alt="">
        {{else}}
        <img class="avatar" src="/img/male_avatar.svg" alt="">
        {{/if}}
    		</div>
    		<div class="media-body">
    			<h4>{{user.username}}</h4>
    			<h5>\{{createdAt}}</h5>
    		</div>
    	</div>
    	<p>\{{content}}</p>
    </div>
</script>

<script id="message-error" type="text/x-handlebars">
	 <div style="color: red">Bạn đã đặt quá số lượng tồn, vui lòng đặt lại</div>
   <div>Số lượng tồn: \{{stock}}</div>
</script>

<script src="/js/ajaxHandler.js"></script>
