<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div class="owl-carousel owl-theme s_Product_carousel">
          <div class="single-prd-item">
            <img id="img-fluid-1" class="img-fluid" src="{{product.image_url}}" alt="">
          </div>
          <div class="single-prd-item">
            <img class="img-fluid" src="{{product.image_url}}" alt="">
          </div>
          <div class="single-prd-item">
            <img class="img-fluid" src="{{product.image_url}}" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3>{{product.name}}</h3>
          <h2><script>
            var price = {{product.price}}
                price = price.toLocaleString('vi', {style : 'currency', currency : 'VND'});
            document.write(price);
          </script></h2>
          <ul class="list">
            <li>
              <div><span>Loại sản phẩm</span> : {{product.category}}</div>
            </li>
            <li>
              <div><span>Xuất xứ</span> : {{product.origin}}</div>
            </li>
            <li>
              <div><span>Chất liệu</span> : {{product.keyboard}}</div>
            </li>
            <li>
              <div><span>Mẫu</span> : {{product.disk}}</div>
            </li>
          </ul>
          <div class="list1">Size:
            <div class="container">
              <div class="button-wrap"><input class="hidden radio-label" type="radio" value="s" name="size" id="yes-button" checked="checked" /><label class="button-label" for="yes-button">
                <h1>S</h1>
              </label><input class="hidden radio-label" type="radio" value="m" name="size" id="no-button" /><label class="button-label" for="no-button">
                <h1>M</h1>
              </label><input class="hidden radio-label" type="radio" value="l" name="size" id="maybe-button" /><label class="button-label" for="maybe-button">
                <h1>L</h1>
              </label></div>
            </div>
          </div>
          <iframe name="temp" style="display:none;"></iframe>

          <div class="product_count">
            <form id="add-to-card" action="/api/cart/{{product._id}}" method="POST" target="temp">
              <label for="qty">Số lượng:</label>
              <input type="hidden" value="{{product._id}}" id="product_id" name="productId">
              <input type="number" name="qty" id="qty" size="2" maxlength="12" value="1" title="Quantity:"
                     class="input-text qty">
              {{#if (is_equals product.stock 0)}}
                <a style="color: #222222;" class="button primary-btn">Hết hàng</a>
              {{else}}
                <a style="color: #222222;" id="button-primary-btn" class="button primary-btn">Thêm vào giỏ hàng</a>
              {{/if}}
            </form>
          </div>
          <div style="color: red" id="messageError"></div>

          <div class="card_area d-flex align-items-center">
            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
           aria-selected="true">Mô tả</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
           aria-controls="contact"
           aria-selected="false">Đánh giá</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p>❗Lưu ý áo cần được giặt tay và treo vắt ngang như hướng dẫn để giữ dáng áo (các bạn kéo đến hình cuối để xem hướng dẫn treo ạ)</p>
        <p> Size: S, M, L</p>
        <p style="padding-bottom: 20px; border-bottom: 1px dotted #eeeeee;"> Số đo: vui lòng kéo để hình cuối để xem số đo cụ thể</p>
        <p>📋 HƯỚNG DẪN GIẶT ỦI:</p>
        <p>Với sp vải mỏng / vải co giãn nhiều : giặt bằng tay với bột giặt dịu nhẹ, vắt khô trước khi phơi và phơi vắt ngang trên móc để sp không bị giãn</p>
        <p>Với sp có in hình: giặt mặt trái với bột giặt dịu nhẹ, không dùng chất tẩy</p>
        <p>Giặt đồ sáng màu và tối màu riêng để tránh bị vây màu</p>
        <p style="padding-bottom: 20px; border-bottom: 1px dotted #eeeeee;">Không sử dụng bột giặt và chất tẩy mạnh</p>
        <p>🛒 CHÍNH SÁCH ĐỔI TRẢ:</p>
        <p>Hỗ trợ đổi sp cùng kiểu khi sp bị lỗi kỹ thuật trong vòng 3 ngày từ khi nhận hàng </p>
        <p>Nhận đổi size (trừ sản phẩm giảm giá)</p>
        <p>Không hỗ trợ trả hàng hoặc đổi sang kiểu khác</p>
        <p>Xin vui lòng liên hệ trước qua inbox hoặc hotline trước khi đổi hàng</p>

      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
          <div class="col-lg-6">
            <div id="comment-list" class="comment_list">
              {{#each results.comments}}
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      {{#if this.user_avatar_url}}
                        <img class="avatar" src="{{this.user_avatar_url}}" alt="">
                      {{else}}
                        <img class="avatar" src="/img/male_avatar.svg" alt="">
                      {{/if}}
                    </div>
                    <div class="media-body">
                      <h4>{{this.user_name}}</h4>
                      <h5>{{this.createdAt}}</h5>
                    </div>
                  </div>
                  <p>{{this.content}}</p>
                </div>
              {{/each}}
            </div>
            {{#if results.comments}}
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" id="comment-pagination">
                  <li class="page-item" value="{{results.prev}}"><a id="prev-page-item"
                                                                    class="page-link"
                  >{{results.prev}}</a></li>

                  <li class="page-item" value="{{results.curr}}"><a id="curr-page-item"
                                                                    class="page-link"

                  >{{results.curr}}</a></li>

                  <li class="page-item" value="{{results.next}}"><a id="next-page-item"
                                                                    class="page-link"
                  >{{results.next}}</a></li>
                </ul>
              </nav>
            {{/if}}
          </div>
          <div class="col-lg-6">
            <div class="review_box">
              <h4>Bình luận</h4>
              <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                    novalidate="novalidate">
                <input type="hidden" value="{{product._id}}" id="product_id" name="productId">
                <div class="col-md-12">
                  <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="5"
                                                  placeholder="Nội dung"></textarea>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <input type="submit" value="Bình luận" class="btn primary-btn" id="submit-button">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Product Description Area =================-->

<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small mt-0">
  <div class="container">
    <div class="section-intro pb-60px">
      <p>Sản phẩm liên quan</p>
      <h2>Related <span class="section-intro__style">Product</span></h2>
    </div>
    <div id="related-product" class="row mt-30">
      {{#each relatedProduct}}
        <div class="col-sm-6 col-xl-auto mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="/products/{{this._id}}"><img src="{{this.image_url}}" alt=""></a>
              <div class="desc">
                <a href="/products/{{this._id}}" class="title">{{this.name}}</a>
                <div id="{{this._id}}" class="price">{{this.price}} ₫</div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
<!--================ end related Product area =================-->

<script id="comment-template" type="text/x-handlebars">
	  <div class="review_item">
    	<div class="media">
    		<div class="d-flex">
    		{{#if user.avatar_url}}
        <img class="avatar" src="{{user.avatar_url}}" alt="">
        {{else}}
        <img class="avatar" src="/img/male_avatar.svg" alt="">
        {{/if}}
    		</div>
    		<div class="media-body">
    			<h4>{{user.username}}</h4>
    			<h5>\{{createdAt}}</h5>
    		</div>
    	</div>
    	<p>\{{content}}</p>
    </div>
</script>

<script id="message-error" type="text/x-handlebars">
	 <div style="color: red">Bạn đã đặt quá số lượng tồn, vui lòng đặt lại</div>
   <div>Số lượng tồn: \{{stock}}</div>
</script>

<script src="/js/commentAjaxHandler.js"></script>