<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Profie</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Profie</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Blog Area =================-->
<section class="blog_area single-post-area py-80px section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 posts-list">
                <div class="single-post row">
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            {{#if user.avatar_url}}
                                <img class="avatar" src="{{user.avatar_url}}" alt="">
                            {{else}}
                                <img class="avatar" src="/img/male_avatar.svg" alt="">
                            {{/if}}
                            <ul class="blog_meta list">
                                <li>
                                    <a href="/account/{{user._id}}">{{user.username}}
                                        <i class="bi bi-person"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Quản lý đơn hàng
                                        <i class="bi bi-clipboard-check"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Thay đổi mật khẩu
                                        <i class="bi bi-key"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Giỏ hàng
                                        <i class="bi bi-cart-check"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="social-links">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>Đổi mật khẩu</h2>
                        <div class="comment-form">
                            <form action="/change-password?_method=PATCH" method="POST">
                                <div class="form-group">
                                    <label style="display: flex">Mật khẩu cũ</label>
                                    <input type="password" required class="form-control" name="old_password"
                                           id="old_password" placeholder="Mật khẩu cũ"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Nhập mật khẩu cũ'">
                                </div>
                                <div class="form-group">
                                    <label style="display: flex">Mật khẩu mới</label>
                                    <input type="password" required class="form-control" name="new_password"
                                           id="new_password" placeholder="Mật khẩu mới"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Nhập mật khẩu mới'">
                                </div>
                                <div class="form-group">
                                    <label style="display: flex">Nhập lại mật khẩu mới</label>
                                    <input type="password" required class="form-control" name="confirm_password"
                                           id="confirm_password"
                                           placeholder="Xác nhận mật khẩu mới"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Nhập lại mật khẩu mới'">
                                </div>
                                {{#if message}}
                                    <div style="color: red">{{message}}</div>
                                {{/if}}
                                <input style="margin-top: 20px" type="submit" value="Đổi mật khẩu"
                                       class="button button-postComment button--active"
                                       id="submit-button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
<script src="../js/handleChooseImgOnchange.js"></script>
